@page
@model AlfaSoft.Web.Pages.UserFailedModel
@{
    ViewData["Title"] = "User not found";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            User not found
            <button onclick='location.href="/Index"' class="btn btn-primary" style="margin: 5px;">Back</button>
        </div>
    </div>
</section>
